*.dll
*.lib
*.so
*.dylib

*.exe
*.out

bin/**

# eny

eny.json

# Quaver

*.qua

# converter

QuaToEnyConverter/**
tools/out/**
tools/QuaToEnyConverter/**
*.mp3
!content/music/**

# testing

build2.bat